.header {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    width: 249px;
    height: 100%;
    padding: 20px;
}

.header-inner {
    flex: 1 1 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 1px solid var(--grey-scale-100);
    border-bottom: 1px solid var(--grey-scale-100);
    padding: 24px;
    margin-bottom: -1px;

    .title {
        font-size: 26px;
        font-weight: 600;
        color: var(--grey-scale-900);
    }
}

.wrap-action {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header-actions {
    position: relative;
}

.wrap-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: all 0.3s ease;
    rotate: 0deg;
}

.header-actions__show {
    transform: rotate(180deg);
}

.action-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.action-list {
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);

    position: absolute;
    right: 0;
    width: 224px;
    border-radius: 10px;
    margin-top: 15px;
    border: 1px solid var(--grey-scale-100);
    background-color: var(--white);
    overflow: hidden;

    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.action-item > a {
    display: block;
    font-size: 14px;
    color: var(--grey-scale-500);
    padding: 12px 16px;
    color: var(--grey-scale-500);
    background-color: inherit;
    transition: all 0.3s ease;

    &:hover {
        color: var(--white);
        background-color: var(--grey-scale-700);
    }
}

.action-item + .action-item {
    border-top: 1px solid var(--grey-scale-100);
}
