.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 198px;
    border: none;
    outline: none;
    border-radius: 12px;
    filter: grayscale(0);
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
        filter: grayscale(20%);
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .icon {
        display: inline-block;
        text-align: center;
    }
}

.primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.secondary {
    background-color: var(--white);
    color: var(--grey-scale-900);
}

.outline {
    background-color: var(--white);
    color: var(--grey-scale-900);
    border: 1px solid var(--grey-scale-200);
}

.lg {
    height: 56px;
    font-size: 16px;
}

.md {
    height: 48px;
    font-size: 14px;
}

.sm {
    height: 32px;
    font-size: 12px;
}

.icon-child {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: var(--grey-scale-500);
}

.animate-spin {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
