@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #2563eb;
    --primary-color-900: #1e3a8a;
    --primary-color-800: #1e40af;
    --primary-color-700: #1d4ed8;
    --primary-color-500: #3b82f6;
    --primary-color-400: #60a5fa;
    --primary-color-300: #93c5fd;
    --primary-color-200: #bfdbfe;
    --primary-color-100: #dbeafe;
    --primary-color-50: #eff6ff;
    --secondary-color: #ed4f9d;
    --secondary-color-400: #f472b6;
    --secondary-color-300: #f9a8d4;
    --secondary-color-200: #fbcfe8;
    --secondary-color-100: #fce7f3;
    --secondary-color-50: #fdf2f8;
    --grey-scale-900: #0f172a;
    --grey-scale-800: #1e293b;
    --grey-scale-700: #334155;
    --grey-scale-600: #475569;
    --grey-scale-500: #64748b;
    --grey-scale-400: #94a3b8;
    --grey-scale-300: #cbd5e1;
    --grey-scale-200: #e2e8f0;
    --grey-scale-100: #f1f5f9;
    --grey-scale-50: #f8fafc;
    --white: #ffffff;
    --indigo: #6366f1;
    --sky: #38bdf8;
    --purple: #8b5cf6;
    --emerald: #34d399;
}

ul,
ol {
    list-style: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

a {
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
}

.wrap-layout {
    display: flex;
    gap: 24px;
}
