.sidebar {
    max-width: 70px;
    background: var(--white);
    border: 1px solid var(--grey-scale-100);
    height: calc(100vh - 96px);
    overflow-y: scroll;
}

.sidebar.active {
    width: 100%;
    max-width: 250px;
}
